<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>255808491933-keld7d01dlcurnhth037b016vchu7eig.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.255808491933-keld7d01dlcurnhth037b016vchu7eig</string>
	<key>API_KEY</key>
	<string>AIzaSyDw1433AKmBzMDbu0FIlNGqhqC_D-5I8wg</string>
	<key>GCM_SENDER_ID</key>
	<string>255808491933</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.Wyah</string>
	<key>PROJECT_ID</key>
	<string>while-you-are-here</string>
	<key>STORAGE_BUCKET</key>
	<string>while-you-are-here.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:255808491933:ios:32c9ca80316a1e44e7df74</string>
</dict>
</plist>